<!DOCTYPE html>
<html>
  <head>
    <title>HogwartsSchool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Hogwarts School</h1>
        <p>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Students', students_path %> |
        <%= link_to 'Teachers', teachers_path %>
        </p>
      </header>
     <%= yield %>
    </div>
  </body>
</html>
